/venv/
/.idea/
/*.gif
/bot_take_it_easy.*
/application/YummyPicture/yummy/*/data/save/*
/application/YummyPicture/yummy/*/data/*.json
/application/YummyPicture/config/*
/application/Economy/config/*
/application/TalkToMe/config/*
/application/URaNai/config/*